<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
        <string>com.gdunn.ical2org</string>
     <key>ProgramArguments</key>
        <array>
             <string>/usr/local/bin/ical2org</string>
             <string>-o</string>
             <string>/Users/gdunn/Documents/shared/todo/calendar.org</string>
             <string>-b</string>
             <string>7</string>
             <string>-e</string>
             <string>30</string>
        </array>
    <key>StartInterval</key>
        <integer>900</integer>
</dict>
</plist>